body{
-webkit-font-smoothing: antialiased
  font-smoothing: antialiased
}
/*Virtual Progress Bar*/
		#progress-bar-container,
		.progress-bar-container-complete,
		.progress-bar-container{
			height:3.5px;
			margin-bottom:-1px;
            top:0;
            width:100%;
            position:fixed;
            z-index:1000;
            left:0px;
		}
		.no-internet-bar,
		.progress-bar-container-complete,
		.virtual-progress-bar{
			height:3.5px;
			width:100%;
			position:relative;
            border-bottom: 1px solid #f7f7f7;
            /* border-top: 1px solid #fff; */
            background: #eee;
		}
		.progress-bar-container-complete,
		.virtual-progress-bar .progress-bar{
			height:100%;
			/*background:#f6e492;background:#43A2C5;*/
            background:#54e854;
            background:linear-gradient(to right, rgb(84, 232, 84), #4fc1e9);
			/*
			border-top:2px solid #f6e492;
			border-bottom:1px solid #978634;*/
			/*background:linear-gradient(to bottom, #978634, #6d5c0a);*/
		}
		.no-internet-bar .progress-bar{
			height:100%;
			/*background:#f6e492;background:#43A2C5;*/
            background:rgb(232, 84, 84);
            background:linear-gradient(to right, rgb(213, 67, 67), #ff0000);
            width:30%;
			/*
			border-top:2px solid #f6e492;
			border-bottom:1px solid #978634;*/
			/*background:linear-gradient(to bottom, #978634, #6d5c0a);*/
		}
        .hidden{
            display:none !important;
        }
         
        .currently-active-store-container{
            margin:0 0.5em;
        }
        .notifications-container{
            font-size:0.6em;
        }
        .notifications-container li{
           
        }
        .notifications-detailed-message-container{
            padding:0.6em !important;
            border-bottom:1px solid #ddd;
        }
        .ui-li-count-count {
            background-color: #2f728a !important;
            border: 2px solid #43a2c4 !important;
            position: absolute;
            font-size: 0.8em;
            font-weight: normal !important;
            text-align: center;
            border-radius: 20px;
            padding: 0.2em .5em 0em .5em;
            line-height: 1.6em;
            min-height: 1.6em;
            min-width: .64em;
            right: 3.2em;
            top: 50%;
            margin-top: -1em;
            text-shadow: none !important;
            color: #fff !important;
        }
        a.clear-notifications{
            text-decoration:none;
            background-color: #111 !important;
        }
        a.clear-notifications:active,
        a.clear-notifications:focus,
        a.clear-notifications:hover{
            background-color: #444 !important;
        }
        .update-server-button{
            position:fixed !important;
            bottom:5px;
            right:5px;
            z-index:2000;
        }
        
        .ui-header h1.uploading-data-title > span{
            font-size: 0.8em;
        }
        .ui-header .ui-title, .ui-footer .ui-title {
            margin-top: 0.2em !important; 
            padding: 0em !important; 
            font-family: Roboto Thin;
            font-size: 1.7em !important;
            line-height: 1.7em !important;
        }
       
        .inventory-table td:nth-child(5),
        .inventory-table th:nth-child(5){
            text-align:center;
        }
        
        .inventory-table thead tr{
			background-color: rgb(112,112,112);
            font-family: Roboto Thin !important;
            color:#fff;
			text-shadow: none;
			font-size: 1.2em;
			
        }
        .ui-collapsible .inventory-table thead tr{
			background-color: rgb(102, 181, 210);
        }
        .inventory-table tfoot tr td:nth-child(3),
        .inventory-table tfoot tr td:nth-child(4),
        .inventory-table tbody tr td:nth-child(3),
        .inventory-table tbody tr td:nth-child(4),
        .inventory-table tr th:nth-child(4),
        .inventory-table tr th:nth-child(3){
            text-align: center;
        }
            tbody.stockLevels-container tr td:nth-child(1) img,
            tbody.stockLevels-container tr td:nth-child(1) img{
                max-height:60px;
            }
            
            .inventory-table tbody tr td{
                vertical-align:middle;
                text-shadow: none; color: #111;
                font-family: 'Roboto Thin'; font-size: 1.2em; font-weight: 600 !important;
                text-rendering: optimizeLegibility;
            }
            .inventory-table tbody td.image-container{
                text-align:center !important;
                vertical-align:middle !important;
                background:#fff;
            }
            .inventory-table tbody td img.ui-li-thumb{
                max-height:90px;
                max-width:100px;
            }
            tbody tr:nth-child(odd) td{
                background-color: #E3F1F4; 
            }
            tbody tr:nth-child(even) td{
                background-color: #fff;
            }
            tbody.stockLevels-container tr td:nth-child(1){
                width: 10px !important;  background-color: #fff; text-align: center;
            }
            tbody.stockLevels-container tr td:nth-child(5){
                font-size: 1em;
            }
            tbody.stockLevels-container tr td:nth-child(4){
                
            }
            tbody.stockLevels-container tr td a{
                color: white !important; background-color: green !important; margin: 0.3em 0 0 0.5em !important; font-family: 'Roboto Thin' !important; font-weight: normal !important; text-shadow: none !important; border: none !important;
            }
            
            .item-search .ui-select{
                max-width:20%;
            }
            .item-search .ui-input-search{
                float: left;
                clear: none;
                margin-top: 0;
                border-radius: 0.3125em 0 0 0.3125em;
                padding-top: 0.15em;
            }
            .item-search .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear,
            .item-search .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear{
                margin:-28px 0;
            }
            .my-reflow > .ui-block-a{
                width: 30%;
            }
            .my-reflow > .ui-block-b{
                width: 70%;
            }
            .item-search .ui-input-search{
                max-width:35%;
            }
            @media (max-width: 600px) {
                .my-reflow > .ui-block-b,
                .my-reflow > .ui-block-a{
                    width:100%;
                }
                .item-search .ui-input-search{
                    max-width:47%;
                }
            }
            
            .small-remarks{
                font-size:0.7em;
            }
            .low-stock, .low-stock td{
                color:#b30000 !important;
            }
 
.control-group-class .ui-input-text input{
    padding: 0;
    font-size: 1em !important;
    line-height: 1em;
    min-height: 1.3em;
}

.custom-more-details td,
.custom-more-details th,
#all-records-summary-table td,
#all-records-summary-table th{
    font-family:Roboto;
}
#all-records-summary-table tbody tr,
#all-records-summary-table tbody tr td{
    text-shadow:none;
    font-weight:normal;
    text-rendering: optimizeLegibility;
    text-align:center;
}
#all-records-summary-table th{
    font-weight:normal;
    font-size:1.2em;
    text-shadow:none;
    text-align:center;
}
#all-records-summary-table tbody tr{
    border-bottom:1px solid #e1e1e1;
}
.ui-table-columntoggle-btn{
    font-size:1em !important;
}
#all-records-summary-table tbody tr td{
    background:#fff;
}
#all-records-summary-table tbody tr.total-row td{
    background:#f7f7f7;
}

#all-records-summary-table tbody tr td:nth-child(even){
    background:#f1f1f1;
}
#all-records-summary-table tbody tr td:nth-child(2){
    background:#dff3c9;
}
#all-records-summary-table tbody tr.total-row td:nth-child(even){
    background:#d7d7d7;
}
#all-records-summary-table tbody tr.total-row td:nth-child(2){
    background:#C6E8A1;
}
#all-records-summary-table tbody tr th{
    text-align:left;
}
#all-records-summary-table thead tr th{
    color:#fff;
}
#all-records-summary-table thead tr th:nth-child(2){
    background:#9dd929;
    background: linear-gradient(#9dd929, #91d033);
    border-radius:5px 5px 0 0;
}

#all-records-summary-table tbody tr th{
    padding-left:1.5em;
    border-left:1px solid #ddd;
    background:#f1f1f1;
}
#all-records-summary-table tbody tr th.custom-button{
    border:1px solid #ddd;
    padding:0;
    cursor:pointer;
    background:#ffffff;
}
#all-records-summary-table tbody tr th.custom-button a{
    padding:.4em .5em;
    display:block;
    text-shadow:none;
    font-weight:normal;
    position:relative;
}
#all-records-summary-table tbody tr th.custom-button a:after{
    content: "";
    position: absolute;
    width: 22px;
    right: 0.5em;
    background-color: #666;
    background-color: rgba(0,0,0,.3);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin-top: 3px;
    height: 22px;
}
#all-records-summary-table tbody tr th.custom-button a:hover{
    background:#f6f6f6;
}