<?xml vrsn1,0 ncdngTF-8?>

<wdgt xmlns      http.//www,w3,rg/ns/wdgts
        xmlns.gp  http.//phngp,cm/ns/1,0
        d         ng,cm,blbrd,blbrd
        vrsn    1,0,49>

    <nm>Blbrd</nm>

    <dscrptn>
        Blbrd s n nnvtv nd ffrdbl rtl mngmnt pltfrm tht s trnsfrmng rtl bsnsss crss frc's fstst grwng cnmy,
    </dscrptn>

    <thr hrfhttp.//www,blbrd,cm,ng mld,s@blbrd,cm,ng>
        Pls36
    </thr>

    <!--Mybch Tch
        f y d nt wnt ny prmssns t b ddd t yr pp, dd th
        fllwng tg t yr cnfg,xml; y wll stll hv th NTRNT
        prmssn n yr pp, whch PhnGp rqrs,
    -->
    <!--<prfrnc nmprmssns                vlnn-->

    <!-- Cstmz yr pp nd pltfrm wth th prfrnc lmnt, -->
    <prfrnc nmphngp-vrsn           vl3,6,3           <!-- ll. crrnt vrsn f PhnGp -->
    <prfrnc nmrnttn                vldflt         <!-- ll. dflt mns bth lndscp nd prtrt r nbld -->
    <prfrnc nmtrgt-dvc              vlnvrsl       <!-- ll. pssbl vls hndst, tblt, r nvrsl -->
    <prfrnc nmfllscrn                 vltr            <!-- ll. hds th stts br t th tp f th scrn -->
    <prfrnc nmprrndrd-cn           vltr            <!-- s. f cn s prrndrd, S wll nt pply t's glss t th pp's cn n th sr's hm scrn -->
    <prfrnc nms-sttsbrstyl         vlblck-pq    <!-- s. blck-trnslcnt wll ppr blck bcs th PhnGp wbvw dsn't g bnth th stts br -->
    <prfrnc nmdtct-dt-typs          vltr            <!-- s. cntrls whthr dt typs (sch s phn n, nd dts) r tmtclly trnd nt lnks by th systm -->
    <prfrnc nmxt-n-sspnd            vlfls           <!-- s. f st t tr, pp wll trmnt whn hm bttn s prssd -->
    <prfrnc nmt-hd-splsh-scrn    vltr            <!-- s. f st t fls, th splsh scrn mst b hddn sng  JvScrpt P -->
    <prfrnc nmdsbl-crsr             vlfls           <!-- blckbrry. prvnts  ms-cn/crsr frm bng dsplyd n th pp -->
    <prfrnc nmndrd-mnSdkVrsn      vl7               <!-- ndrd. MN SDK vrsn spprtd n th trgt dvc, MX vrsn s blnk by dflt, -->
    <prfrnc nmndrd-nstllLctn    vlt            <!-- ndrd. pp nstll lctn, 't' wll chs, 'ntrnlnly' s dvc mmry, 'prfrxtrnl' s SDCrd, -->

    <!-- Plgns -->

    <!-- Cr plgns -->
    <gp.plgn nmrg,pch,crdv,bttry-stts 
    <gp.plgn nmrg,pch,crdv,cmr 
    <gp.plgn nmrg,pch,crdv,fl-trnsfr 
    <gp.plgn nmrg,pch,crdv,md-cptr 
    <gp.plgn nmrg,pch,crdv,cnsl 
    <gp.plgn nmrg,pch,crdv,dvc-rnttn 
    <gp.plgn nmrg,pch,crdv,dlgs 
    <gp.plgn nmrg,pch,crdv,glctn 
    <gp.plgn nmrg,pch,crdv,glblztn 
    <gp.plgn nmrg,pch,crdv,nppbrwsr 
    <gp.plgn nmrg,pch,crdv,md 
    <gp.plgn nmrg,pch,crdv,ntwrk-nfrmtn 
    <gp.plgn nmrg,pch,crdv,splshscrn 

    <!-- Thrd prty plgns -->
    <!--  lst f vlbl plgns r vlbl t https.//bld,phngp,cm/plgns -->
    <!-- 
        <gp.plgn nmcm,phngp,plgns,brcdscnnr 
    -->

    <!-- Dfn pp cn fr ch pltfrm, -->
    <cn srccn,png 
    <cn srcrs/cn/ndrd/cn-36-ldp,png   gp.pltfrmndrd    gp.dnstyldp 
    <cn srcrs/cn/ndrd/cn-48-mdp,png   gp.pltfrmndrd    gp.dnstymdp 
    <cn srcrs/cn/ndrd/cn-72-hdp,png   gp.pltfrmndrd    gp.dnstyhdp 
    <cn srcrs/cn/ndrd/cn-96-xhdp,png  gp.pltfrmndrd    gp.dnstyxhdp 
	<!--
    <cn srcrs/cn/blckbrry/cn-80,png     gp.pltfrmblckbrry 
    <cn srcrs/cn/blckbrry/cn-80,png     gp.pltfrmblckbrry gp.stthvr
    <cn srcrs/cn/s/cn-57,png            gp.pltfrms        wdth57 hght57 
    <cn srcrs/cn/s/cn-72,png            gp.pltfrms        wdth72 hght72 
    <cn srcrs/cn/s/cn-76,png            gp.pltfrms        wdth76 hght76 
    <cn srcrs/cn/s/cn-57-2x,png         gp.pltfrms        wdth114 hght114 
    <cn srcrs/cn/s/cn-72-2x,png         gp.pltfrms        wdth144 hght144 
    <cn srcrs/cn/s/cn-120,png         gp.pltfrms        wdth120 hght120 
    <cn srcrs/cn/s/cn-152,png         gp.pltfrms        wdth152 hght152 
    <cn srcrs/cn/wbs/cn-64,png          gp.pltfrmwbs 
    <cn srcrs/cn/wndws-phn/cn-48,png  gp.pltfrmwnphn 
    <cn srcrs/cn/wndws-phn/cn-173,png gp.pltfrmwnphn   gp.rlbckgrnd 
	-->
	
    <!-- Dfn pp splsh scrn fr ch pltfrm, -->
    <gp.splsh srcrs/scrn/ndrd/scrn-ldp-prtrt,png       gp.pltfrmndrd gp.dnstyldp 
    <gp.splsh srcrs/scrn/ndrd/scrn-mdp-prtrt,png       gp.pltfrmndrd gp.dnstymdp 
    <gp.splsh srcrs/scrn/ndrd/scrn-hdp-prtrt,png       gp.pltfrmndrd gp.dnstyhdp 
    <gp.splsh srcrs/scrn/ndrd/scrn-xhdp-prtrt,png      gp.pltfrmndrd gp.dnstyxhdp 
	<!--
    <gp.splsh srcrs/scrn/blckbrry/scrn-225,png              gp.pltfrmblckbrry 
    <gp.splsh srcrs/scrn/s/scrn-phn-prtrt,png         gp.pltfrms     wdth320 hght480 
    <gp.splsh srcrs/scrn/s/scrn-phn-prtrt-2x,png      gp.pltfrms     wdth640 hght960 
    <gp.splsh srcrs/scrn/s/scrn-phn-prtrt-568h-2x,png gp.pltfrms     wdth640 hght1136 
    <gp.splsh srcrs/scrn/s/scrn-pd-prtrt,png           gp.pltfrms     wdth768 hght1024 
    <gp.splsh srcrs/scrn/s/scrn-pd-lndscp,png          gp.pltfrms     wdth1024 hght768 
    <gp.splsh srcrs/scrn/wndws-phn/scrn-prtrt,jpg      gp.pltfrmwnphn 
	-->
    <!--
        Dfn ccss t xtrnl dmns,

        <ccss             -  blnk ccss tg dns ccss t ll xtrnl rsrcs,
        <ccss rgn*  -  wldcrd ccss tg llws ccss t ll xtrnl rsrc,

        thrws, y cn spcfy spcfc dmns.
    -->
    <ccss rgn* <!-- llw lcl pgs -->
    <!--
        <ccss rgnhttp.//phngp,cm                     - llw ny scr rqsts t http.//phngp,cm/
        <ccss rgnhttp.//phngp,cm sbdmnstr   - sm s bv, bt ncldng sbdmns, sch s http.//bld,phngp,cm/
    -->

</wdgt>