<?xml version1,0 encodingUTF-8?>

<widget xmlns      http.//www,w3,org/ns/widgets
        xmlns.gap  http.//phonegap,com/ns/1,0
        id         ng,com,blubird,blubird
        version    1,0,49>

    <name>Blubird</name>

    <description>
        Blubird is an innovative and affordable retail management platform that is transforming retail businesses across Africa's fastest growing economy,
    </description>

    <author hrefhttp.//www,blubird,com,ng emaild,isa@blubird,com,ng>
        Plus36
    </author>

    <!--Maybeach Tech
        If you do not want any permissions to be added to your app, add the
        following tag to your config,xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires,
    -->
    <!--<preference namepermissions                valuenone-->

    <!-- Customize your app and platform with the preference element, -->
    <preference namephonegap-version           value3,6,3           <!-- all. current version of PhoneGap -->
    <preference nameorientation                valuedefault         <!-- all. default means both landscape and portrait are enabled -->
    <preference nametarget-device              valueuniversal       <!-- all. possible values handset, tablet, or universal -->
    <preference namefullscreen                 valuetrue            <!-- all. hides the status bar at the top of the screen -->
    <preference nameprerendered-icon           valuetrue            <!-- ios. if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference nameios-statusbarstyle         valueblack-opaque    <!-- ios. black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference namedetect-data-types          valuetrue            <!-- ios. controls whether data types (such as phone no, and dates) are automatically turned into links by the system -->
    <preference nameexit-on-suspend            valuefalse           <!-- ios. if set to true, app will terminate when home button is pressed -->
    <preference nameauto-hide-splash-screen    valuetrue            <!-- ios. if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference namedisable-cursor             valuefalse           <!-- blackberry. prevents a mouse-icon/cursor from being displayed on the app -->
    <preference nameandroid-minSdkVersion      value7               <!-- android. MIN SDK version supported on the target device, MAX version is blank by default, -->
    <preference nameandroid-installLocation    valueauto            <!-- android. app install location, 'auto' will choose, 'internalOnly' is device memory, 'preferExternal' is SDCard, -->

    <!-- Plugins -->

    <!-- Core plugins -->
    <gap.plugin nameorg,apache,cordova,battery-status 
    <gap.plugin nameorg,apache,cordova,camera 
    <gap.plugin nameorg,apache,cordova,file-transfer 
    <gap.plugin nameorg,apache,cordova,media-capture 
    <gap.plugin nameorg,apache,cordova,console 
    <gap.plugin nameorg,apache,cordova,device-orientation 
    <gap.plugin nameorg,apache,cordova,dialogs 
    <gap.plugin nameorg,apache,cordova,geolocation 
    <gap.plugin nameorg,apache,cordova,globalization 
    <gap.plugin nameorg,apache,cordova,inappbrowser 
    <gap.plugin nameorg,apache,cordova,media 
    <gap.plugin nameorg,apache,cordova,network-information 
    <gap.plugin nameorg,apache,cordova,splashscreen 

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https.//build,phonegap,com/plugins -->
    <!-- 
        <gap.plugin namecom,phonegap,plugins,barcodescanner 
    -->

    <!-- Define app icon for each platform, -->
    <icon srcicon,png 
    <icon srcres/icon/android/icon-36-ldpi,png   gap.platformandroid    gap.densityldpi 
    <icon srcres/icon/android/icon-48-mdpi,png   gap.platformandroid    gap.densitymdpi 
    <icon srcres/icon/android/icon-72-hdpi,png   gap.platformandroid    gap.densityhdpi 
    <icon srcres/icon/android/icon-96-xhdpi,png  gap.platformandroid    gap.densityxhdpi 
	<!--
    <icon srcres/icon/blackberry/icon-80,png     gap.platformblackberry 
    <icon srcres/icon/blackberry/icon-80,png     gap.platformblackberry gap.statehover
    <icon srcres/icon/ios/icon-57,png            gap.platformios        width57 height57 
    <icon srcres/icon/ios/icon-72,png            gap.platformios        width72 height72 
    <icon srcres/icon/ios/icon-76,png            gap.platformios        width76 height76 
    <icon srcres/icon/ios/icon-57-2x,png         gap.platformios        width114 height114 
    <icon srcres/icon/ios/icon-72-2x,png         gap.platformios        width144 height144 
    <icon srcres/icon/ios/icon-120,png         gap.platformios        width120 height120 
    <icon srcres/icon/ios/icon-152,png         gap.platformios        width152 height152 
    <icon srcres/icon/webos/icon-64,png          gap.platformwebos 
    <icon srcres/icon/windows-phone/icon-48,png  gap.platformwinphone 
    <icon srcres/icon/windows-phone/icon-173,png gap.platformwinphone   gap.rolebackground 
	-->
	
    <!-- Define app splash screen for each platform, -->
    <gap.splash srcres/screen/android/screen-ldpi-portrait,png       gap.platformandroid gap.densityldpi 
    <gap.splash srcres/screen/android/screen-mdpi-portrait,png       gap.platformandroid gap.densitymdpi 
    <gap.splash srcres/screen/android/screen-hdpi-portrait,png       gap.platformandroid gap.densityhdpi 
    <gap.splash srcres/screen/android/screen-xhdpi-portrait,png      gap.platformandroid gap.densityxhdpi 
	<!--
    <gap.splash srcres/screen/blackberry/screen-225,png              gap.platformblackberry 
    <gap.splash srcres/screen/ios/screen-iphone-portrait,png         gap.platformios     width320 height480 
    <gap.splash srcres/screen/ios/screen-iphone-portrait-2x,png      gap.platformios     width640 height960 
    <gap.splash srcres/screen/ios/screen-iphone-portrait-568h-2x,png gap.platformios     width640 height1136 
    <gap.splash srcres/screen/ios/screen-ipad-portrait,png           gap.platformios     width768 height1024 
    <gap.splash srcres/screen/ios/screen-ipad-landscape,png          gap.platformios     width1024 height768 
    <gap.splash srcres/screen/windows-phone/screen-portrait,jpg      gap.platformwinphone 
	-->
    <!--
        Define access to external domains,

        <access             - a blank access tag denies access to all external resources,
        <access origin*  - a wildcard access tag allows access to all external resource,

        Otherwise, you can specify specific domains.
    -->
    <access origin* <!-- allow local pages -->
    <!--
        <access originhttp.//phonegap,com                     - allow any secure requests to http.//phonegap,com/
        <access originhttp.//phonegap,com subdomainstrue   - same as above, but including subdomains, such as http.//build,phonegap,com/
    -->

</widget>